@charset "utf-8";
@import url(main.css);

.content {
    justify-content: center;
}

.cell-left {
    float: left;
}
.cell-right {
    float: right;
}
.spending-row {
    background-color:rgb(255, 215, 215);
}
.income-row {
    background-color: rgb(215, 255, 215)
}