@charset "utf-8";
@import url(main.css);

.content {
    flex-direction: column;
    align-items: center;
}

.cell-left {
    float: left;
}
.cell-right {
    float: right;
}
.spending-cell {
    color:rgb(150, 0, 0);
}
.income-cell {
    color: rgb(0, 150, 0);
}
tbody tr:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
.flex-zone {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    backdrop-filter: blur(8px);
  }
  
  .modal-content {
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
  }
  
  .close {
    color: rgb(0, 69, 206);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(0, 51, 153);
    text-decoration: none;
    cursor: pointer;
  }
  
/*SPENDING JS FORM*/
.expense-amount-input, .expense-type-select, 
.income-amount-input, .income-type-select, 
.expense-type-new, .income-type-new {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }