@charset "utf-8";
@import url(main.css);

.content {
    justify-content: center;
}

.cell-left {
    float: left;
}
.cell-right {
    float: right;
}
.spending-cell {
    color:rgb(150, 0, 0);
}
.income-cell {
    color: rgb(0, 150, 0);
}
tr:hover {
    background-color: rgb(240, 240, 240);
}