@charset "utf-8";
@import url(main.css);

.content {
    flex-direction: column;
}
.flex-zone {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.flex-container {
    flex-grow: 1;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}
