@charset "utf-8";
@import url(main.css);

.flex-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    flex-grow: 1;
}

.flex-container-right {
    display: flex;
    flex-direction: column;
}
.flex-container-left {
    display: flex;
    align-items: center;
}
.flex-item {
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 2%;
}
.flex-zone-left {
    width: 60%;
}
.balance-div {
    margin: 0 2% 0 2%;
}

.spending-graph-btn {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    width: 20px; 
    height: 20px; 
    cursor: pointer; 
    background-size: cover; 
    display: none;
  }
  
  
.spending-graph-btn.icon-search {
    background-image: url(../img/graph-button-refresh.png);
  }

@media screen and (max-width: 970px) {
    .content {
        flex-direction: column;
    }
    .flex-zone-right {
        flex-direction: row;
    }
    .simple {
        flex-grow: 1;
    }
    .flex-zone-left {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .flex-zone-right {
        flex-direction: column;
    }
}

