@charset "utf-8";
@import url(main.css);

.flex-zone {
    flex-direction: column;
    flex-grow: 1;
}

#right.flex-container {
    display: flex;
    flex-direction: column;
}
#left.flex-container {
    display: flex;
    align-items: center;
}
.flex-item {
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 2%;
}
#left.flex-zone {
    width: 60%;
}
.balance-div {
    margin: 0 2% 0 2%;
}