@charset "utf-8";
@import url(main.css);

.content {
  align-items: center;
  flex-direction: column;
}
.flex-zone {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 40%;
}

.form-field {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}